bootstrap/cache/services.php

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

vendor/
node_modules/
public/hot

/.git*
**.gitignore
**.gitattributes
**.sass-cache

.env
build_local.sh
Dockerfile
docker-compose.yml
